*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body {
background: linear-gradient(-45deg, #461248 , #a93747 , #f2a15f , #ffd6b6);
}

header{
display:flex;
justify-content:space-between;
padding:20px 60px;
background: linear-gradient(-45deg, #461248 , #a93747 , #f2a15f , #ffd6b6);
}

.logo{
color: black;
font-size:26px;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
}
nav ul li{
margin-left:30px;
}
nav ul li a{
color:white;
text-decoration:none;
transition:.3s;
}

nav ul li a:hover{
color:#d4af37;
}

.hero{
text-align:center;
padding:80px;
background: linear-gradient(-45deg, #461248 , #a93747 , #f2a15f , #ffd6b6);
}

.form-section{
display:flex;
justify-content:center;
padding:80px;
}

form{
width:400px;
display:flex;
flex-direction:column;
gap:20px;
}

input, textarea{
padding:12px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:12px;
background:#d4af37;
border:none;
cursor:pointer;
font-weight:bold;
transition:.3s;
}

button:hover{
background:#0b1c2d;
color:white;
}

footer{
background: linear-gradient(-45deg, #461248 , #a93747 , #f2a15f , #ffd6b6);
color:white;
text-align:center;
padding:20px;
}

.grid{
display:flex;
justify-content:center;
gap:40px;
padding:60px;
flex-wrap:wrap;
}

.card{
width:1400px;
background:white;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
border-radius:8px;
overflow:hidden;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:400px;
object-fit:cover;
}

.card h3{
padding:20px 20px 0 20px;
}

.card p{
padding:10px 20px 20px 20px;
color:#d4af37;
font-weight:bold;
}

.Bien {
    text-align: center;
}