*{margin:0;padding:0;box-sizing:border-box;font-family:'Segoe UI',sans-serif;}

header {
display:flex;
justify-content:space-between;
padding:20px 60px;
background: linear-gradient(-45deg, #461248 , #a93747 , #f2a15f , #ffd6b6);
}

body {
    background: linear-gradient(-45deg, #461248 , #a93747 , #f2a15f , #ffd6b6);
}

.logo {
color: black;
font-size:26px;font-weight:bold;}

nav ul{display:flex;list-style:none;}
nav ul li{margin-left:30px;}
nav ul li a{color:white;text-decoration:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
color:white;
text-decoration:none;
transition:.3s;
}

nav ul li a:hover{
color:#d4af37;
}

.hero{
text-align:center;
padding:20px;
background: white;
}

.video-hero{
    position:relative;
    height:100vh;
    overflow:hidden;
}

.bg-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:150%;
    object-fit:cover;
    z-index:-1;
}

.services{
display:flex;
justify-content:center;
gap:40px;
padding:80px;
flex-wrap:wrap;
}

.card{
width:300px;
background:white;
padding:40px;
border-radius:8px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card h3{
color:#d4af37;
margin-bottom:15px;
}

.video-hero{
    position:relative;
    height:100vh;
    overflow:hidden;
}

.bg-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50%;
    object-fit:cover;
    z-index:-1;
}

footer{
background: linear-gradient(-45deg, #461248 , #a93747 , #f2a15f , #ffd6b6);
color:white;
text-align:center;
padding:20px;
}

.klk {
    text-align: center;
}